# Byte-compiled / optimized / DLL files
__pycache__/
app_client_control/__pycache__/
client_control/__pycache__/

# Django stuff:
#settings.py
db.sqlite3
app_client_control/migrations
app_client_control/serializers.py

# Sphinx documentation
#docs/_build/

# pyenv
#.python-version

# celery beat schedule file
#celerybeat-schedule

# mkdocs documentation
/site