# Byte-compiled / optimized / DLL files
backend/src/__pycache__/
backend/src/app_client_control/__pycache__/
backend/src/app_client_control/api/__pycache__/
backend/src/client_control/__pycache__/

# Django stuff:
#settings.py
backend/src/db.sqlite3
backend/src/app_client_control/migrations
backend/src/app_client_control/serializers.py

# Sphinx documentation
#docs/_build/

# pyenv
#.python-version

# celery beat schedule file
#celerybeat-schedule

# mkdocs documentation
backend/site